/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: rgb(245, 245, 245);
  --background-dark: rgb(26, 32, 44);
}

.dark {
  --background: var(--background-dark);
}

.light {
  --background: var(--background-light);
}
